a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
	height: 900px;
	width: 100vw;
	padding: 0px;
	margin: 0px;
	font-family: 'Coming Soon', cursive;
	background-color: black;
	transition: background-color 1s;
}

#area {
  color: black;
  background-color: white;
  border: 25px solid black;
  width: 600px;
  margin-top: 100px;
  padding: 100px;
  transition: border 1s;
  border-radius: 75px;
  transition: all 1s;
}

#quote {
  font-size: 35px;
  display: inline-block;
}

#author {
  font-size: 25px;
  text-align: center;
}

.buttons {
  margin-top: 0px;
}

.btn {
    transition: transform .1s;
    width: 500px;
    height: 65px;
    border-radius: 25px;
    display:block;
    margin: 10px;
    border: 3px solid black;
    background-color: white;
    font-size: 45px;
    color: black;
    transition: all .3s;
}
.btn:hover {
  background-color: black;
  color: white;
  text-decoration: none;
  box-shadow: ;
}

